<div class="container-fluid">
  <h2 class="fw-bold">Editar Clasificación</h2>
  <h5 class="text-muted mb-3">Clasificación de los estándares mínimos</h5>
  <div class="mb-3">
    <p class="mb-4">
      La clasificación de los estándares mínimos consiste en calcular el número
      de estándares que debe evaluar y el tipo de responsable que debe contratar
      para implementar el Sistema de Gestión de Seguridad y Salud en el Trabajo
      SG-SST.
    </p>
    <p class="blockquote-footer">Resolución 0312 de 2019</p>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <form (ngSubmit)="guardar(formulario)" #formulario="ngForm">
        <div class="mb-3">
          <label for="numEmpleados" class="form-label"
            >Número de empleados</label
          >
          <input
            id="numEmpleados"
            #numEmpleados="ngModel"
            name="numEmpleados"
            type="number"
            class="form-control"
            [class.is-invalid]="numEmpleados.invalid && numEmpleados.touched"
            [(ngModel)]="clasificacion!.num_empleados"
            placeholder="Ingrese el número de empleados"
            (change)="onNumEmpleadosChanged($event.target)"
            required
          />
        </div>
        <div class="mb-3">
          <label for="nivelRiesgo" class="form-label">Nivel de riesgo</label>
          <select
            [(ngModel)]="clasificacion!.nivel_riesgo"
            name="nivelRiesgo"
            class="form-select"
            aria-label="Nivel de riesgo"
            (change)="onNivelRiesgoChanged($event.target)"
          >
            <option *ngFor="let nivel of nivelesRiesgo" [value]="nivel.id">
              {{ nivel.tipo }}
            </option>
          </select>
        </div>
        <hr />
        <div class="col">
          <h5 class="fw-bold text-primary">Resultado de la clasificación</h5>
          <div class="mb-3">
            <p class="fw-bold">
              Tipo de Responsable SST
              <span style="font-size: 18px" class="ms-2 material-icons"
                >info_outlined</span
              >
            </p>
            <h4 class="fw-bolder">{{ tipoResponsable }}</h4>
          </div>
          <div class="mb-3">
            <p class="fw-bold">
              Número de ítem a evaluar
              <span style="font-size: 18px" class="ms-2 material-icons"
                >info_outlined</span
              >
            </p>
            <h4 class="fw-bolder">{{ numItemsEvaluar }} Estándares mínimos</h4>
          </div>
          <br />
          <button class="btn btn-primary" type="submit">
            Actualizar
          </button>
        </div>
      </form>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ tipoEvaluacion?.responsable ?? "Responsable sin definir" }}
          </h5>
          <div class="card-text">
            <blockquote class="blockquote">
              <small>{{
                tipoEvaluacion?.descripcion ??
                  "Ingrese los datos para hacer el cálculo."
              }}</small>
            </blockquote>
            <br />
            <figcaption class="blockquote-footer">
              <cite title="resolución 0312 de 2019">{{
                tipoEvaluacion?.cita ?? ""
              }}</cite>
            </figcaption>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
