<div
  class="container-fluid vh-100 d-flex align-items-center justify-content-center"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 mx-auto">
        <form (ngSubmit)="changePassword(formulario)" #formulario="ngForm">
            <a class="navbar-brand d-flex align-items-center justify-content-center" [routerLink]="['']">
              <div class="mx-2">
                <img
                  src="assets/svg/helmet.svg"
                  width="80"
                  alt="Software para el Sistema de Geestion de Seguridad y Salud en el Trabajo"
                  srcset=""
                />
              </div>
              <div class="text-dark">
                <h2 class="fw-bolder mb-0">SG-SST</h2>
                <p class="eslogan mb-0">Sistema de información</p>
              </div>
            </a>
          <br />
          <h2 class="fw-bolder">Cambiar mi contraseña</h2>


          <div class="mb-3">
            <label for="password" class="form-label"
              >Contraseña actual</label
            >
            <input
              id="password"
              #password="ngModel"
              [type]="visible ? 'text': 'password'"
              class="form-control"
              [class.is-invalid]="password.invalid && password.touched"
              name="password"
              ngModel
              placeholder="Ingrese su contraseña actual"
              minlength="6"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label"
              >Contraseña nueva</label
            >
            <input
              id="password"
              #password="ngModel"
              [type]="visible ? 'text': 'password'"
              class="form-control"
              [class.is-invalid]="password.invalid && password.touched"
              name="password"
              ngModel
              placeholder="Ingrese una contraseña nueva"
              minlength="6"
              required
            />
          </div>
          <div class="d-grid gap-3">
            <a class="btn btn-primary">Cambiar contraseña</a>
            <a class="btn btn-secondary text-dark" [routerLink]="['']"
              >Volver</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
