<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="assets/img/logo-hor.png"
        width="170"
        alt="Software para el Sistema de Geestion de Seguridad y Salud en el Trabajo"
        srcset=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Funcionalidades
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Evaluación inicial</a></li>
            <li><a class="dropdown-item" href="#">Plan de trabajo</a></li>
            <li><a class="dropdown-item" href="#">Indicadores</a></li>
          </ul>
        </li>
      </ul>
      <div class="navbar-text">
        ¿Ya tienes cuenta?
      </div>
      <form class="">
        <a [routerLink]="['../login']" class="btn btn-outline-primary ms-2"
          >Inicia sesión</a
        >
      </form>
    </div>
  </div>
</nav>
