<app-navbar></app-navbar>
<div class="container-fluid banner d-flex align-items-center">
  <div class="container mh-100">
    <div class="row">
      <div class="col-md-8">
        <section class="hero is-medium">
          <div class="hero-body">
            <p class="fw-bold fs-2">
              Software de Sistema de Gestión de Seguridad y Salud en el Trabajo
            </p>
            <p class="subtitle fs-4">
              Implementar el Sistema de Gestión de Seguridad y Salud en el
              Trabajo nunca fue tan fácil, conoce las ventajas de tener un
              software que le facilita a las empresas las tareas del SGSST.
              <br>
              <br>
              Empieza ahora!
            </p>
            <a [routerLink]="['registro']" class="btn btn-primary btn-lg"
              >Registrar mi empresa</a
            >
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<footer class="footer fixed-bottom bg-light p-3">
  <div class="">
    <p class="text-center m-0">
      <strong>Software SG-SST.</strong> Desarrollado por Grupo FST-ADSI.
    </p>
  </div>
</footer>
