<h1 class="fw-bold">Mis Clasificaciones</h1>
<h4 class="text-muted">Clasificación de los estándares mínimos</h4>
<div class="row mb-3">
  <div class="col"></div>
  <div class="col-auto">
    <a class="btn btn-primary btn-sm mx-1" [routerLink]="['./nuevo']">
      Nueva clasificación
    </a>
  </div>
  <div class="col-2"></div>
</div>
<div class="col-10">
  <div class="table-responsive">
    <table class="table table-bg-white border rounded align-middle">
      <thead class="table-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Empleados</th>
          <th scope="col">Riesgo</th>
          <th scope="col">Tipo de Responsable SST</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="a">
          <th scope="row">1</th>
          <td>23/07/2022</td>
          <td>2</td>
          <td>Nivel 5</td>
          <td>Profesional SST</td>
          <td>
            <div class="row">
              <a class="btn btn-danger btn-icon mx-2" (click)="eliminarItem()">
                <i class="material-icons">delete_forever</i>
                <span>Eliminar</span>
              </a>
              <a class="btn btn-success btn-icon" [routerLink]="['./', 1]">
                <i class="material-icons">edit</i>
                <span>Editar</span>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
