.nav-item {
  .nav-link {
    border-radius: 4px;
    color: gray;
    font-size: 14px;
    font-weight: 500;
    .material-icons {
      color: #ff873c;
    }
  }
  .active {
    background-color: #ff873c;
    color: #000;
    .material-icons {
      color: #000;
    }
  }
  .nav-link:hover {
    color: #000;
    background-color: #ff873c;
    .material-icons {
      color: #000;
    }
  }
}

.icon-box {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
}
