<div
  class="container-fluid vh-100 d-flex align-items-center justify-content-center"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 mx-auto">
        <form (ngSubmit)="login(formulario)" #formulario="ngForm">
            <a class="navbar-brand d-flex align-items-center justify-content-center" [routerLink]="['']">
              <div class="mx-2">
                <img
                  src="assets/svg/helmet.svg"
                  width="80"
                  alt="Software para el Sistema de Geestion de Seguridad y Salud en el Trabajo"
                  srcset=""
                />
              </div>
              <div class="text-dark">
                <h2 class="fw-bolder mb-0">SG-SST</h2>
                <p class="eslogan mb-0">Sistema de información</p>
              </div>
            </a>
          <br />
          <h2 class="fw-bolder">Inicia sesión</h2>

          <div class="mb-3">
            <label for="email" class="form-label"
              >Correo electrónico</label
            >
            <input
              id="email"
              #correo="ngModel"
              type="email"
              class="form-control"
              [class.is-invalid]="correo.invalid && correo.touched"
              name="correo"
              ngModel
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              placeholder="micorreo@ejemplo.com"
              required
            />
          </div>

          <div class="mb-3">
            <label for="password" class="form-label"
              >Contraseña</label
            >
            <input
              id="password"
              #password="ngModel"
              [type]="visible ? 'text': 'password'"
              class="form-control"
              [class.is-invalid]="password.invalid && password.touched"
              name="password"
              ngModel
              placeholder="Ingrese su contraseña"
              minlength="6"
              required
            />
          </div>
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
              (change)="toggleVisibility()"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Mostrar contraseña</label
            >
          </div>
          <div class="d-grid gap-3">
            <button class="btn btn-primary" type="submit">Inicia sesión</button>
            <a class="btn btn-secondary" [routerLink]="['../register']"
              >Registrar mi empresa</a
            >
            <a class="btn btn-link text-dark" [routerLink]="['../reset-password']"
              >¿Olvidaste tu contraseña?</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

